.lane {
  background: white;
  width: 100%;
  margin: 5px 0;
  .lane-header {
    background: #ed613a;
    color: white;
    padding: 10px;
    .lane-toggle-caret {
      cursor: pointer;
      margin-right: 5px;
      // We don't want the width to change when toggled
      display: inline-block;
      width: 10px;
    }
  }
  .lane-content {
    min-height: 47px;
  }
  .bar-dropzone {
    position: relative;
    height: 0;
    &.expanded {
      height: 47px;
      &.newRow {
        transition: height 0.15s linear;
        transition-delay: 0.5s;
      }
    }
    &.isOver {
      background: rgba(0, 0, 0, 0.03);
    }
  }
}
